#home { 

	position: absolute;
	width: 90%;
	left: 10%;
	top: -1%;

}

h1 {
	
	text-align: center;
	color: white;
	
}


#logo { 

	position: absolute;
	width: 60%;
	height: 80vh;
	left: 2%;

}

#links { 
	
	position: absolute;
	left: 64%;
	
}

#invite { 

	font-size: 2vw;
	background-color: lime;
	width: 100%;
	border: 1px solid lime;
	border-radius: 15px;
	cursor: hand;

}

#join { 

	font-size: 2vw;
	background-color: lime;
	width: 100%;
	border: 1px solid lime;
	border-radius: 15px;
	cursor: hand;

}

#server {
	
	height: 60vh;
	width: 27vw;
	
}

#wink { 
	
	position: absolute;
	font-size: 15vw;
	font-weight: bold;
	color: white;
	
}
